<%- include("layouts/header") %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>
<style>
    ::placeholder {
  color: rgb(165, 30, 255);
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: rgb(165, 30, 255);
}
::-ms-input-placeholder { /* Microsoft Edge */
 color: rgb(165, 30, 255);
}
#input_name, #input_bio, #input_image :focus {
    border-bottom-color: rgb(165, 30, 255);
}
</style>
<div class="main_container">
  <div class="card-edit">
    <% if(message.length >0){ %>
        <div id="alerty" class="alert alert-success">
  
       <button id="msg"><%= message %></button> 
        <button id='close' onclick='this.parentNode.parentNode.removeChild(this.parentNode); return false;'>x</button>
    </div><br>
  <% } %>
      <form action="/edit-profile/<%= user.username %>" method="POST" enctype="multipart/form-data"> 
        <% if (user.image !='err') { %>
        <div class="images">
            <img class="card-img-left" src="/images/user-pic/<%= user.image %>" style="height:135px;width:130px;border-radius:50%">
            
            <% } else { %>
            <img class="card-img-left" src="/images/<%= user.gender %>.png" style="height:135px;width:130px;border-radius:50%" >
            <% } %>
            <!-- <i id="camera" class="fa fa-camera" aria-hidden="true"style="font-size:30px;"></i> <br> -->
            <div id="file"class="file-field input-field">
                <div class="btn grey">
                    <span>Choose the image</span>
                <input class="file-image"name='userImg' id="userImg"type="file" >
                </div>
                <div class="file-path-wrapper">
                    <input name="input_image"id="input_image" class="file-path validate" type="text" 
                    placeholder="File Path">
                  </div>
            </div>
        </div>
        
            <div class="card-bodyy">
             
                <ul>
                    <li class="card-text">
                         <input type="text" name="input_name" id="input_name"class="card-title" placeholder="<%= user.username %>" autocomplete="off">
                        <input type="text"name="input_bio"id="input_bio" placeholder="<%= user.bio %>"autocomplete="off">
                    </li>
                    
            <button id="apply"type="submit" class="btn btn-primary" value="upload">Apply Changes</button>
                </ul>
            </div>
      </form>
  
     
  </div>
</div>
            
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>  

<%- include("layouts/footer") %>