<%- include('layouts/header') %>

<div class="container">
  <div class="card">
    <h5 class="card-header"><%= user.name %></h5>
    <div class="card-body">
      <h5 class="card-title"><%= user.job %></h5>
      <p class="card-text">
        <%= user.bio %>
      </p>
      <a href="/users/<%= user.username %>/edit-profile" class="btn btn-primary">Edit</a>
    </div>
  </div>
</div>

<%- include('layouts/footer') %>