<%- include("layouts/header") %>

<div class="cont-container">
  <div class="cont">
    <!-- <%- messages('partials/messages',locals) %>
    <%if(typeof errors !== "undefined") { %>
    <% errors.forEach(error => { %>
    <div class="alert alert-<%= type %> alert-dismissible fade show" role="alert">
        <%= error.msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div> 
    <% }); %>
    <% } %> -->
    <% if(message.length >0){ %>
      <div id="alerty" class="alert alert-success">

     <button id="msg"><%= message %></button> 
      <button id='close' onclick='this.parentNode.parentNode.removeChild(this.parentNode); return false;'>x</button>
  </div><br>
<% } %>

    <h1>Thank You for dealing with us !</h1>
    
  </div>
</div>
    <%- include("layouts/footer") %>
