<%- include("layouts/header") %>

        <div class="Reg-container">
            <div class="reg">
                <form class="form"  method="POST">

                    <% if(message.length >0){ %>
                            <div id="alerty" class="alert alert-success">

                           <button id="msg"><%= message %></button> 
                            <button id='close' onclick='this.parentNode.parentNode.removeChild(this.parentNode); return false;'>x</button>
                        </div><br>
                    <% } %>

                    <h2>Sign Up</h2>
                    <div class="username-div">
                        <input id="username" type="text" name="username" required
                        autocomplete="off"
                        value="<%= (typeof username !== 'undefined') ? username : '' %>" /><br>
                        <label for="username" class="label-name">
                            <span class="span-name">User Name</span>
                        </label><br>
                    </div>
                    <div class="email">
                        <input id="email" type="email" name="email"autocomplete="false" required autocomplete="off"
                        value="<%= (typeof email !== 'undefined') ? email : '' %>" /><br>
                        <label for="email" class="label_email">
                            <span class="span_email">Email</span>
                        </label><br>
                    </div>
                    <div class="password">
                        <input id="password" type="password" name="password"required ><br>
                        <label for="password" class="label_password">
                            <span class="span_password">Password</span>
                        </label><br>
                    </div>
                    <div class="conf-password">
                        <input id="confirm_password" type="password" name="confirm_password"required ><br>
                        <label for="confpass" class="label_confpass">
                            <span class="span_confpass">Confirm Password</span>
                        </label><br>
                    </div>
                        <select required name="genderList" id="genderList" onchange="toggle_gender() "
                        value="<%= (typeof genderList !== 'undefined') ? genderList : 'Gender' %>>
                            <option value="" selected disabled hidden>Gender</option>
                            <option>Male</option>
                            <option>Female</option>
                        </select><br>
                    <button id="btn" type="submit">Sign Up </button><br>
                    <small>Arleady have an account?
                    <a href="login">Log In</a>
                  </small>
                </form>
            </div>
        </div>
<%- include("layouts/footer") %>
